@using MyMovies.ViewModels;
@model RegisterVM;


@{
    ViewData["Title"] = "Register";
}
<h1 class="text-center col">Register</h1>

<form asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly" div class="col"></div>

    <!-- Name input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input asp-for="Name" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Name</label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>



    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input asp-for="Email" id="form2Example1" class="form-control" />
        <label asp-for="Email" class="form-label" for="form2Example1"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input asp-for="Password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
        <span asp-validation-for="Password" class="text-danger" type="password"></span>
    </div>

    <!-- Confirm Password -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input asp-for="ConfirmPassword" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Confirm Password</label>
        <span asp-validation-for="ConfirmPassword" class="text-danger" type="password"></span>
    </div>

    <!-- Register button -->
    <div class="row mb-4">
        <button type="submit" value="Register"  class="btn btn-primary btn-block-stretch mb-4 text-center">Register</button>
    </div>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Already a member? <a asp-action="Login">Sign in</a></p>
    </div>
</form>
